.chats-feild {
    display: flex;
    margin-bottom: 40px;
    color: white;
}
.chats-feild div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #1d9dff;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    height: 600px;
    transition: .3s all;
}
.chats-feild div:hover {
    transform: scale(1.1);
}
.chats-feild div h1 {
    font-weight: 600;
    font-size: 44px;
}
.chats-feild div span {
    font-size: 20px;
    background-color: #007bda;
    margin-bottom: 150px;
    padding: 10px;
    border-radius: 5px;
}
.chats-feild div a {
    background-color: #007bda;
    border-color: transparent;
    color: white;
    font-size: 30px;
    line-height: 60px;
    text-transform: uppercase;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: .1s all;
}
.chats-feild div a:active {
    background-color: transparent;
    border: 2px solid #4fb3ff;
}